.container--footer {
  background-color: var(--purple-n1);
  width: 100%;
  position: relative;
  padding: 16px 80px 32px 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .footer__content {
    margin-left: 80px;

    .text--footer {
      margin-top: 8px;
    }
  }
}