@font-face {
  font-family: 'Georgia';
  src: url('~@/assets/fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap');
