.container--hero {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;


  .hero--newcomer {

    h4 {
      margin-bottom: 16px;
    }
    .mt16 {
      margin-top: 16px;
    }
    p {
      margin-bottom: 8px;
    }

    .hero__flex {
      display: flex;
      justify-content: space-between;
      @include mq-down (md) {
        flex-direction: column;
      }
    }

    .hero--images {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .hero--infos {
      padding: 16px;

      .info__old, .info__place {
        display: flex;
        align-items: center;

        p {
          margin: 0;
        }

        img {
          width: 28px;
          height: 28px;
          margin-right: 16px;
        }
      }
    }

    .hero--passions, .hero--links {
      border-top: solid 1px var(--black-n1);
      padding: 16px;
    }

    .hero--passions {
      .passion {
        padding: 8px 16px;
        border: solid 1px var(--purple-n1);
        border-radius: 20px;
        width: fit-content;
        float: left;
        margin-right: 16px;
        margin-bottom: 8px;

        p {
          margin: 0;
        }
      }
    }
    
    .hero--links {
      img {
        width: 52px;
        height: 52px;
      }
    }


  }
}
