#app {
  /* COLOR */
  --white: #fff;
  --grey: #FFECE3;

  --purple-n1: #BB1845;
  --purple-n2: #E94D78;
  --purple-n3: #F48EAA;

  --black-n1: #333333;
  --black-n2: #ABABAB;
  --black-n3: #E6E6E6;

}
