#app {
  /* COLOR */
  --white: #fff;
  --grey: #FFECE3;

  --purple-n1: #BB1845;
  --purple-n2: #E94D78;
  --purple-n3: #F48EAA;

  --orange-n1: #FF9C71;
  --orange-n2: #FFC7AE;
  --orange-n3: #FFECE3;
  --yellow: #FBD46D;
  --black: #1B1B1B;
  --black-n2: #292929;
  --black-n3: #383838;
}
