.button--active,
.button--inactive {
  width: fit-content;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0.8rem 3.2rem;
  background: linear-gradient(180deg, #ff9c71 0%, #fbd46d 100%);
  border-radius: 10px;

  &:hover {
    transition: all 0.2s;
    background: var(--orange-n1);
  }
}

.button--inactive {
  background: var(--orange-n2);
}
